* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}  
#contents {
 background:url("../images/bg.jpg") no-repeat;
 background-size:cover;
 width:800px;
 height:500px;
 margin:0 auto;
 position: relative;  
 /* absolute를 사용하려면 무조건 relative로 기준요소를 정해야한다 */
}
h1 { 
  color:#fff; 
  font-size:120px;
  text-shadow: 2px 3px 0 #000;  
  position: absolute;
  right: 100px;
  bottom: 100px;    
}